
.show-container
{
    position:relative;
    height:400px;
    width: 300px;
    background: #ff8900;
    border:none;
    color: #000;
    border-radius : 25px;
}
.show-container:hover
{
    background: #ffc107;
    cursor: pointer;
}
.img-wrap
{
height:100%;
position:relative;
}
.button
{
bottom:20px;
left:0;
right:0;
margin:0 auto;
max-width:165px;
background-color:#00ee08;
text-align:center;
color:#000;
font-size:19px;
border-radius:20px;
padding:4px;
font-weight:500;
}
.button:hover
{
    background: #ffe007;
    cursor: pointer;
}

.name-a
{
font-size:23px;
font-weight:700;
line-height:25.54px;
letter-spacing:-.47px;
margin-top:16px;
margin-bottom:10px;
}
.front
{
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
transition:all .2s ease;
text-align:center;
font-size:18px;
color:#232323;
letter-spacing:-.28px;
border-top-left-radius:10px;
border-top-right-radius:10px;
}

.date
{
    padding:5px;
}
.place-a
{
    direction:ltr;
    margin-bottom:30px;
}

.location
{
margin:5px;
}
.subtitle-text
{
min-height:20px;

}
#show1
{
position:absolute;top:160px;left:50px;
}
#show2
{
   position:absolute;top:160px;left:500px;
}
#show3
{
position:absolute;top:610px;left:50px;
}
#show4
{
position:absolute;top:610px;left:500px;

}
#show5
{
position:absolute;top:1060px;left:50px;
}
#show6
{
position:absolute;top:1060px;left:500px;
}
.order-tickets-a
{
position:absolute;
bottom:20px;
left:0;
right:0;
margin:0 auto;
max-width:165px;
background-color:#6e5ee8;
text-align:center;
color:#000;
font-size:19px;
border-radius:20px;
padding:4px;
font-weight:500;
}
.order-tickets-a:hover
{
    background: #ffc107;
    cursor: pointer;
}

.hideThis {
    display: none;
    background:#d77420;
    border: #d77420;
}

.showThis {
  background:#d77420;
  width:15%;
  margin-top:8px;
  margin-left:120px;
  text-align:center;

}



 input
 {
    /* Firefox, Chrome, Opera */
   text-align: right;
  }

  button[type="button"]
  {
    cursor:pointer;
  }



*, :before, :after {
  box-sizing: border-box;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled a {
  text-decoration: none;
}
.unstyled1 {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled1 a {
  text-decoration: none;
}
.list-inline {
  overflow: hidden;
}
.list-inline li {
  float: left;
}
.list-inline1 {
  overflow: hidden;
}
.list-inline1 li {
  float: right;
}
.header {
  float: right;
  width: 20.5em;
  background: #35302D;
    height: 80%;
     margin-bottom: -1000px; /* any large number will do */
      padding-bottom: 1200px;

}


.headerLeft {
  width: 100%;
  background: #35302D;


}

.logo {
    color:#d77420;
  text-align: center;
  font: 200 2em "Source Sans Pro", Helvetica, Arial, sans-serif;
margin:20px;

}
.logo a {
  display: block;
  padding: 5em 0;
  color: #DFDBD9;
  text-decoration: none;
  transition: .15s linear color;
}

.logo a:hover {
  color: #fff;
}
.logo a:hover span {
  color: #DF4500;
}
.logo span {
  font-weight: 500;
  transition: .15s linear color;
}

.main-nav ul {
  border-top: solid 1px #3C3735;
}
.main-nav li {
  border-bottom: solid 1px #3C3735;
}
.main-nav a {
  padding: 1.1em 0;
  color: #DFDBD9;
  font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: lowercase;
}
.main-nav a:hover {
  color: #fff;
}

.social-links {
  border-bottom: solid 1px #3C3735;
}


.social-links a {
  display: block;
  text-align: center;
  color: #3C3735;
  font: 0.75em/5.5em "Source Sans Pro", Helvetica, Arial, sans-serif;

}
.social-links a:hover {
  color: #DFDBD9;
}

.list-hover-slide li {
  position: relative;
  overflow: hidden;
}
.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: .35s ease color;
  cursor:pointer;
}
.list-hover-slide a:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px #DF4500;
  background: #3C3735;
  transition: .35s ease left;
}
.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
  left: 0;
}

.buttonMain
{
background:#d77420;
border: #d77420;
}
#register
{
background:#d77420;
  border: #d77420;

}
#login{
background:#d77420;
border: #d77420;
margin:5px;
}




.list-hover-slide1 li {
  position: relative;
  overflow: hidden;
}
.list-hover-slide1 a {
  display: block;
  position: relative;
  z-index: 1;
  transition: .35s ease color;
}
.list-hover-slide1 a:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px #DF4500;
  background: #3C3735;
  transition: .35s ease left;
}
.list-hover-slide1 a.is-current:before, .list-hover-slide a:hover:before {
  left: 0;
}


.hideThis {
    display: none;
}

.showThis {
  display: block;
}
.homePage
{
margin-bottom:20px;
padding:20px;
 cursor: pointer;

}

#shoppingCart
{
    cursor: pointer;
}


body
{
    margin:0;
    padding:0;
}
.search-btn
{
    height:50px;
    width: 150px;
    background: #ffeb3b;
    border:none;
    color: #000;
    border-radius : 25px;
    margin-right: 10px;
}
.search-btn:hover
{
    background: #ffc107;
    cursor: pointer;
}

.form-box
{
margin-right: 20px;
background: rgba(0.0.0.0.5);
padding: 30px;
}


